*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 56px;
    color: rgb(0, 0, 0);
    background-color: rgba(251, 251, 251, 0.8);
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s, border-color 150ms ease-out 0s;
}

.logo{
    padding-left: 250px;
    display: flex;
    align-items: center;
}

.collapse.navbar-collapse{
    padding-right: 250px;
}